@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background-image: url(./images/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* content: url(./images/production\ ID_4401518.mp4); */

  
   
}


.main-con {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    height: 35rem;
    box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    border: 2px solid 255, 255, 255, 0.1;
}

.container {
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    

}

.top-content {
    height: 30%;
}

.top-content h1 {
    font-size: 26px;
    letter-spacing: 1px;
    color: #333;
}

.form-control {
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-control i {
    position: absolute;
    top: 10px;
    left: 10px;
}

.form-control input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    background-color: #dde0e9;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding-left: 35px;
}

.meal-con {
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
}

.random-meal {
    width: 100%;
    height: 100%;
    overflow: auto;

}

.random-meal::-webkit-scrollbar {
    overflow: hidden;
    width: 0;
    height: 0;
}

.meal {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */

}

.meal .info {
    position: absolute;
    bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.meal img {
    height: 98%;
    margin-top: 20px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.btn {
    background-color: #ed2d1b;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: capitalize;
}

.loaderCon {
    position: absolute;
    width: 100%;
    height: 96%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    border-radius: 10px;
    display: grid;
    place-content: center;
    display: none;

}

.loader {
    width: 70px;
    height: 70px;
    border: 5px solid transparent;
    border-top-color: orangered;
    border-left-color: orangered;
    border-radius: 50%;
    transform: rotate(45deg);
    position: relative;
    animation: spine 1s linear infinite;

}

.loader::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    border: 5px solid transparent;
    border-top-color: orange;
    border-left-color: orange;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spine1 0.5s linear infinite;
}

.loader::after {
    position: absolute;
    content: "";
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spine {
    0% {
        transform: rotate(0) scale(0.8);
    }

    50% {
        transform: rotate(180deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(0.8);
    }
}

@keyframes spine1 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.result {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 6px;
    border-radius: 10px;
    display: grid;
    place-content: center;
    background-color: #dde0e9;
    text-align: center;
    display: none;

}

.result h1 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 70px;
    color: #333;
}